<section class="main">
  <a href="https://uz.zgora.pl/"><img href="" src="./images/logo UZ pion - CMYK.jpg"></a>
  <h1>Lista dopasowanych tematów</h1>
<div class="result">
  <% if (propozycje && propozycje.length > 0) { %>
    <ol>
      <% propozycje.forEach(function(propozycja) { %>
        <li>
          <strong>
            <a href="">
              <%= propozycja.temat %>
            </a>
          </strong><br>
          <em>Promotor: <%= propozycja.promotor %></em>
        </li>
      <% }) %>
    </ol>
  <% } else { %>
    <p>Brak dostępnych propozycji.</p>
  <% } %>
  <br>
</div>
  <form action="/" class="back btn">
    <button type="submit">Powrót</button>
  </form>
</section>


