<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
  <section class="main">
    <h1>Lista dopasowanych tematów</h1>

    <% if (propozycje && propozycje.length > 0) { %>
      <ol>
        <% propozycje.forEach(function(propozycja) { %>
          <li>
            <strong><%= propozycja.temat %></strong><br>
            <em>Promotor: <%= propozycja.promotor %></em>
          </li>
        <% }) %>
      </ol>
    <% } else { %>
      <p>Brak dostępnych propozycji.</p>
    <% } %>
  
    <br>
    <form action="/" class="back btn">
      <button type="submit">Powrót</button>
    </form>
  </section>

</body>
</html>
  

