/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #343541;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .main {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .main h1 {
    font-size: 24px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20%;
  }
  
  .input-container input,
  .input-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .result{
    z-index: 1;
    overflow-x: auto;
    padding-top: 10px;
    transition: 0.6s ease;

}
.result ul {
    margin-top: 50px;
    position: relative;
    height: 97vh;
}
.result ul li{
    list-style:none;
    margin: 10px 0;


}
.result ol li:hover{
  background-color: rgba(65, 65, 248, 0.61);
  transition: 0.3s ease;
    
    }
.result ol li a{
  white-space: nowrap;
  text-decoration: none;
  color:rgb(0, 0, 0);
    
  
  }
  .input-container button:hover {
    background-color: #0056b3;
  }
  
  #output {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    color: #333;
  }
  #loader {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    background-color: #343541;
    justify-content: center;
    
  }
  .text p{
    color: #ccc;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }